<div style="display:flex;flex-wrap:wrap">
  <div style="flex-grow:1">
    <h3>Devices: {{devices.length}}</h3>
    <textarea cols="60" rows="12" wrap="off">
      {{devices | json}}
    </textarea>
  </div>

  <div style="flex-grow:1">
    <h3>Controllers: {{controllers.length}}</h3>
    <textarea cols="60" rows="12" wrap="off">
      {{controllers | json}}
    </textarea>
  </div>

  <div style="flex-grow:1">
    <h3>listeners: {{listeners.length}}</h3>
    <textarea cols="60" rows="12" wrap="off">
      {{listeners | json}}
    </textarea>
    <div *ngFor="let item of listeners" style="display:flex;flex-wrap:wrap">
      <div *ngFor="let value of item.lastEvent?.data" style="border:1px solid black;border-radius: 5px;margin:1em;padding:.5em;">
        {{value}}
      </div>
    </div>
  </div>

  <div style="flex-grow:1">
    <h3>savedControllers</h3>
    <textarea cols="60" rows="12" wrap="off">
      {{savedControllers | json}}
    </textarea>
  </div>

  <div style="flex-grow:1">
    <h3>debug</h3>
    <textarea cols="60" rows="12" wrap="off">
      {{debug | json}}
    </textarea>
  </div>
</div>

<div style="display:flex;flex-wrap: wrap;">
  <div *ngFor="let item of devices">
    <button
      type="button" style="margin:.5em;" (click)="listenToDevice(item)"
      [style.background-color] = "item.subscribed && 'blue'"
      [style.color] = "item.subscribed && 'white'"
    >
      {{ item.product || item.productId + ':' + item.vendorId }}
    </button>
  </div>
</div>


<router-outlet></router-outlet>